body {
    font-family: 'Montserrat', sans-serif;
    background: url('../images/maga.jpg') no-repeat center center fixed; 
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.cart-container {
    margin-top: 20px;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
}

.clear-cart-button, .home-button {
    background: #ff4c4c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    margin-right: 10px; /* Добавлено для отступа между кнопками */
    text-decoration: none; /* Убираем подчеркивание */
}

.clear-cart-button:hover, .home-button:hover {
    background: #ff1c1c;
}

.empty-cart {
    text-align: center;
    font-size: 18px;
    color: #999;
}

.footer {
    text-align: center;
    margin-top: 20px;
}
